{% load rest_framework %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Upload CSV log files</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label>IMO </label>
                <input type="number" required> 
            </div>
            <div>
                <label>Name</label>
                <input type="text">
            </div>
            <div>
                <input type="file"  name="csv_file" id="csv_file">
            </div>            
            <!-- <input type="submit" value="Save"> -->
            <button>Upload</button>
        </form>
    </div>
</body>
</html>